@import url("./App.css");

.container {
  height: 100vh;
  justify-content: space-evenly;
}

.item-form {
  display: flex;
  flex-direction: column;
}

.item-form label {
  margin: 0 0 5px 5px;
}

label {
  color: var(--dark-purple);
}

.input-row {
  margin-bottom: 10px;
}

input {
  margin-right: 5px;
}

.items {
  margin-top: 12vh;
}

.item-qty-input {
  text-align: center;
}

.item-name-input,
.item-qty-input,
.item-price-input {
  padding-left: 10px;
}

.row-content {
  padding: 15px 0px;
  display: flex;
  margin-bottom: 10px;
}

.col-content {
  margin: 0px 10px 10px 10px;
}

.button-row-add {
  margin-top: 80px;
}

.card {
  border-radius: 11px;
  border-color: var(--light-pink);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.ant-card-head-title {
  color: white;
}

.ant-card-head {
  border-bottom: 1px solid var(--light-pink);
  background-color: var(--light-pink);
  border-radius: 10px 10px 0 0;
}

.upload-receipt-button,
.add-another-item-button,
.next-button,
Link {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  margin-top: 10px;
}

.next-button {
  background-color: var(--coral);
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  transition: background-color 0.4s ease-in-out;
}

.uploadContainer {
  height: 55vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#billImg {
  height: 45vh;
}

.uploadContainer input[type="file"] {
  display: none;
}

#receiptUpload {
  margin: 0;
  border-radius: 3px;
  border: 1px solid var(--light-orange);
  padding: 6px;
  background-color: var(--purple);
  color: white;
}

.upload-receipt-button:hover,
.add-another-item-button:hover,
.next-button:hover,
#receiptUpload:hover {
  cursor: pointer;
  background-color: var(--light-purple);
  color: white;
}
