@import url("./App.css");

#categoryContainerAdd,
#categoryContainerEdit {
  display: flex;
  overflow: auto;
  height: 115px;
  background-color: #fffcf9;
  padding: 10px;
  margin-bottom: 23px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 5px;
}

#categoryContainerEdit {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

[id^="categoryContainer"]::-webkit-scrollbar {
  display: none;
}

#scroller {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#modalContainer {
  display: flex;
  flex-flow: column;
}

#modalFormContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#modalFormContainer input {
  font-size: 11px;
  padding-left: 5px;
  width: 150px;
  border-radius: 3px;
}

#modalFormContainer input[type="file"] {
  display: none;
}

#modalFormContainer input[type="color"] {
  width: 98px;
}

#modalFormContainer form {
  margin: 0;
}

#modalFormContainer label {
  padding-bottom: 2px;
}

#customFileUpload {
  display: block;
  margin: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--light-orange);
  padding: 5px;
  width: 98px;
  height: 30px;
}

#modalContainer button {
  cursor: pointer;
  border: 1px solid var(--light-orange);
  border-radius: 3px;
  padding: 5px;
}

#customFileUpload:hover {
  cursor: pointer;
  background-color: rgba(70, 67, 106, 0.9);
}

#customColour:hover {
  cursor: pointer;
}

#modalContainer button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#customFileUpload {
  font-size: 11px;
  text-align: center;
  color: #fffcf9;
  background-color: #46436a;
}

#edit,
#add {
  width: 50px;
  margin-bottom: 10px;
  background-color: #fffcf9;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 5px;
}

#add:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#edit {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#edit:hover {
  cursor: pointer;
}

.modal-content {
  width: 350px;
  height: auto;
}

#modalContainer {
  width: 90%;
  height: 300px;
  justify-content: space-around;
}
