.home-section {
  background-image: url("../images/grocery.jpg");
  background-size: 100%;
  height: 100vh;
  text-align: center;
}

.welcome-text {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.welcome-text h1 {
  color: #fff;
  font-size: 80px;
  padding: 20px;
}
