@import url("App.css");

.underline-label {
  text-decoration: underline;
}

.signup-form input {
  border-radius: 10px;
  border: 1px solid var(--light-orange);
  display: block;
  width: 100%;
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

form {
  /* flex-direction: column; */
  width: 80%;
  margin: 15px;
  text-align: left;
}

.setting-submit-button,
Link {
  background-color: var(--light-pink);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100% !important;
  height: 25px !important;
  margin-top: 20px;
}

.setting-submit-button:hover {
  background-color: var(--light-purple);
}

.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
}

.close-button:hover {
  color: var(--light-purple);
}

.close-button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 10px;
  margin-top: 5px;
}
