@import url("App.css");

.underline-label {
  text-decoration: underline;
}

.signup-form input {
  border-radius: 10px;
  border: 1px solid var(--light-orange);
  display: block;
  width: 100%;
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.settings-form,
.logout-form {
  width: 80%;
  margin: 15px;
  text-align: left;
}

.settings-submit-button,
.logout-submit-button,
Link {
  background-color: var(--light-pink);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100% !important;
  height: 25px !important;
  margin-top: 20px;
}

.setting-submit-button:hover {
  background-color: var(--light-purple);
}

#settings-header,
#logout-header,
.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
}

#settings-header:hover,
#logout-header:hover,
.close-button:hover {
  color: var(--light-purple);
}

.close-button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 10px;
  margin-top: 5px;
}

#profilePicture input[type="file"] {
  display: none;
}

#profilePicture {
  display: block;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--light-orange);
  padding: 5px;
  width: 105px;
  height: 30px;
  font-size: 11px;
  text-align: center;
  color: #fffcf9;
  background-color: var(--purple);
}

#profilePicture:hover {
  cursor: pointer;
  background-color: rgba(70, 67, 106, 0.9);
}
