.viewpage__typeChoice {
  display: flex;
  padding: 5vh 5vw;
  align-items: center;
  justify-content: space-around;
}

.viewpage__typeChoice button {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  background-color: var(--light-pink);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.viewpage__typeChoice button:focus {
  border: none;
}

.viewpage__typeChoice button:hover {
  background-color: var(--light-purple);
}

.viewpage__typeChoice .current {
  background-color: var(--light-purple);
}

.custom-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
