.categoryIcon {
  width: 65px;
  height: 63px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.categoryIcon:hover {
  cursor: pointer;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

/* Popup effect from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover */

.categoryIcon img {
  max-width: 60%;
  max-height: 60%;
}
