@import url("../../css/App.css");

.container {
  height: 100vh;
  justify-content: space-evenly;
}

.item-form {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--dark-purple);
}

.input-row {
  margin-bottom: 10px;
}

input {
  margin-right: 5px;
}

.items {
  margin-top: 12vh;
}

.row-content {
  padding: 15px 0px;
  display: flex;
  margin-bottom: 10px;
}

.col-content {
  margin: 0px 10px 10px 10px;
}

.button-row-add {
  margin-top: 80px;
}

.card {
  /* padding-right: 30px;
  padding-left: 30px; */
  border-radius: 11px;
  border-color: var(--light-pink);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.ant-card-head-title {
  color: white;
}

.ant-card-head {
  border-bottom: 1px solid var(--light-pink);
  background-color: var(--light-pink);
  border-radius: 10px 10px 0 0;
}

.upload-receipt-button,
.add-another-item-button,
.next-button,
Link {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 25px;
  margin-top: 10px;
}

.upload-receipt-button:hover,
.add-another-item-button:hover,
.next-button:hover {
  background-color: var(--light-purple);
  color: white;
}

.next-button {
  background-color: var(--coral);
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  transition: background-color 0.4s ease-in-out;
}

.choose-file-button {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 25px;
  margin-top: 10px;
  padding: 0.5rem;
  cursor: pointer;
}
